<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginstats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="utilities.GetUserWebsite"></activity>
        <activity
            android:name="utilities.AddbusinessLogo"
            android:parentActivityName="utilities.GetUserInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="utilities.GetBusinessInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="utilities.GetUserInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="utilities.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="utilities.NoInternet"
            android:screenOrientation="portrait" />
        <activity
            android:name="authentication.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>